@media (min-width: 990px) {
    .centers {
        margin-left: 170px;
    }
}
.size {
    width: auto;
    height: auto;
    transform: scale(1.5);
}
@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");

body {
    transition: background .4s ease-in;
}

input[type=radio] {
    display: none;
}

.card {
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    transition: transform .4s ease;
    cursor: pointer;
}

.container-slide {
    width: 650px;
    height: 480px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}

#item-1:checked ~ .cards #song-3, #item-2:checked ~ .cards #song-1, #item-3:checked ~ .cards #song-2 {
    transform: translatex(-40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-2, #item-2:checked ~ .cards #song-3, #item-3:checked ~ .cards #song-1 {
    transform: translatex(40%) scale(.8);
    opacity: .4;
    z-index: 0;
}

#item-1:checked ~ .cards #song-1, #item-2:checked ~ .cards #song-2, #item-3:checked ~ .cards #song-3 {
    transform: translatex(0) scale(1);
    opacity: 1;
    z-index: 1;
}
h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
    text-decoration: underline;
}
.cardtext {
    padding: 20px;
    color: black;
}
.box {
    background-color: #a7cced;
    border-radius: 20px;
    border: #2772b5 solid;
}
.cardtext::-webkit-scrollbar {
    width: 3px;
}
.cardtext::-webkit-scrollbar-thumb {
    background: #2772b5; 
    border-radius: 10px;
    color: rgb(99, 98, 98);
}
.img1 {
    max-width: 520px; 
    max-height: 520px; 
    margin-left: 60px;
}
@media (max-width: 720px) {
    .img1 {
        max-width: 400px; 
        max-height: 400px; 
        padding-bottom: 30px;  
    }

    .needhelp{
        margin-bottom: 30px;
    }
}
.iconss {
    width: 80px;
    height: auto;
}
.icons1 {
    width: 100px;
    height: 100px;
}
@media (min-width: 720px) {
    .adjust {
        margin: 25px; 
        height: 300px; 
        display: flex; 
        gap: 20px; 
        justify-content: center; 
        align-items: center;
    }
    .adjust2 {
        margin-top: 35px; 
        height: 310px; 
        display: flex;
    }
}
@media (max-width: 720px) {
    .adjust {
        margin: 25px; 
        display: block; 
        padding-left: 200px;                   
    }
    .adjust2 {
        display: flex;
        height: 500px;
    }
}
@media (min-width: 720px) {
    .morerev {
        padding-right: 500px;
    }
}
.morerev2 {
    width: 300px; 
    display: flex; 
    justify-content: center;
    margin-bottom: 30px;
}
.intern {
    background-color: #a7cced; 
    margin-top: 80px;
}
.intern:hover {
    scale: (1.2); 
}
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

@media (min-width: 720px) {
    .imgslide {
        display: flex; 
        justify-content: center; 
        align-items: center;
        margin-left: 60px;
    }
}

@media (max-width: 720px) {
    .headings {
        padding-bottom: 25px;
    }
}

.containerimg {
  width: 110%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #4aacdc;
    position: relative;
    overflow: hidden;   

    &:nth-of-type(1) {
      background: url("https://suvidhafoundationedutech.org/img/team/Shobha_Motghare.jpeg") no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("https://suvidhafoundationedutech.org/img/team/Payal_Badhe.jpg") no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("https://suvidhafoundationedutech.org/img/Bharti_Shendre.jpg") no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("https://suvidhafoundationedutech.org/img/Nilima_Kalambe.jpg")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgba(4, 42, 72, 0.676);
      background: linear-gradient(
        0deg,
        rgba(4, 42, 72, 0.676) 0%,
        rgba(70, 161, 207, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #4aacdc;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}

/* ------------------------------------------------------------------------------------------ */

#trending {
    overflow: hidden;
}

.container-slide2 {
    margin: 0 auto;
    padding: 20px;
}

.section-heading, .section-subheading {
    margin: 0;
    padding: 10px;
}

.swiper-container {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    background-position: center;
    background-size: cover;
    width: 1500px;
    height: 300px; 
}

.swiper-slide {
    display: block;
    border: solid rgba(4, 42, 72, 0.676);
    background-color: #a0c5e6;
    border-radius: 15px;
}

.profile-img {
    width: 140px;
    height: auto;
    padding: 10px;
    float: left;
    border-radius: 15px;
}

.profile-text {
    padding: 15px;
    height: 300px;
    color: black;
}

@media (max-width: 990px) {
    .swiper-button-next {
        left: 70% !important;
        transform: translateX(-70%) !important;
    }
    .swiper-button-prev {
        left: 30% !important;
        transform: translateX(-30%) !important;
    }
}

@media (max-width: 450px) {
    .swiper-button-next {
        left: 80% !important;
        transform: translateX(-80%) !important;
    }
    .swiper-button-prev {
        left: 20% !important;
        transform: translateX(-20%) !important;
    }
}

.profile-text::-webkit-scrollbar {
    width: 3px;
}
.profile-text::-webkit-scrollbar-thumb {
    background: #2772b5; 
    border-radius: 10px;
    color: rgb(99, 98, 98);
}